body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #188A5D;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    height: 50px;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 4px;
}